* {
    box-sizing: border-box;
}

.header {
    border: 1px solid black;
    padding: 2px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid black;
}

.col-3 {
    width: 70%;
    height: auto;
}

.col-9 {
    width: 30%;
    height: auto;
}

.col-12 {
    width: 100%;
    height: auto;
}

video {
    width: 100%;
    height: auto;
}

h1 {
    text-align: center;
    /* text-shadow: 2px 2px; */
}

h2 {
    text-align: center;
}

div {
    background-image: url("http://127.0.0.1:8885/static/assets/background.jpeg");
    background-repeat: repeat-x repeat-y;
    background-attachment: fixed;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    text-align: center;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #A9A9A9;
}

.buttonImg {
    display: inline-block;
    height: 40px;
    padding: 0;
    margin: 0;
    vertical-align: top;
    width: 40px;
}

.block {
    height: 100px;
    width: 300px;
    margin: auto;
    margin-top: 20px;
}

.buttonDownload:disabled {
    background-color: #A9A9A9;
}

.form {
    margin-right: 50px;
    margin-bottom: 10px;
}

.buttonDownload {
    background-color: #555555;
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.buttonDownload:hover:enabled {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.frame {
    width: 100%;
    height: 550px;
    border: 3px solid #ccc;
    background: #eee;
    margin: auto;
    padding: 15px 10px;
}

img {
    width: 100%;
    height: 100%;
}

.btn {
    text-decoration: none;
    background-color: #555555;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    outline: none;
    transition: 0.3s;
    margin-top: 4px;
}

.btn:hover {
    text-decoration: none;
    background-color: #ffffff;
    color: black;
    padding: 10px 20px;
    border: none;
    outline: 1px solid #010101;
}

.grid-container {
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.inner-block {
    height: 90px;
    width: 200px;
    margin: auto;
    margin-top: 20px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    border-left: 16px solid pink;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    left: 15rem;
    position: relative;
    top: 10rem;
    left: 40%;
}


/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}